<h1>
    {{title}}

</h1>
<h2> Hola {{nombre}}!</h2>

<h1>Estas son las habitaciones disponibles:</h1>

<!--Una Forma-->
<!--
  <h2>Habitación {{room1.room_id}} que es {{room1.getRoomType()}} </h2>
<h2>Habitación {{room2.room_id}} que es {{room2.getRoomType()}} </h2>
-->

<!--Otra Forma-->

<!--
  <h2>Habitación {{rooms[0].room_id}} que es {{rooms[0].getRoomType()}} </h2>
<h2>Habitación {{rooms[1].room_id}} que es {{rooms[1].getRoomType()}} </h2>
<h2>Habitación {{rooms[2].room_id}} que es {{rooms[2].getRoomType()}} </h2>
<h2>Habitación {{rooms[3].room_id}} que es {{rooms[3].getRoomType()}} </h2>
-->

<!-- Y la Buena-->
<ul>
    <li *ngFor="let room of rooms">
        <h3>Habitación {{room.room_id}} que es {{room.getRoomType()}} </h3>
    </li>
</ul>

<h2>Datos del Cliente</h2>

<!--The ng-model directive binds the value of HTML controls (input, select, textarea) to application data.
With the ng-model directive you can bind the value of an input field to a variable created in AngularJS.-->

<p><label>Nombre: </label><input [(ngModel)]="customerSelected.name" placeholder="Nombre"></p>
<p><label>Email: </label><input [(ngModel)]="customerSelected.email" placeholder="Email"></p>
<!-- 
    addCustomer -> añadimos un nuevo customer al array customers usando el método del componente addCustomer
    Hay que tener en cuenta que "customerSelected" es un variable que apunta a un objeto. No es un objeto en sí. Por eso en el método del componente usamos el método de la clase Customer ".clone()", para convertir la variable a objeto -->
<p><button (click)="addCustomer(customerSelected)">Añadir</button></p>

<ul>
    <li *ngFor="let customer of customers; let i = index; let esPar = odd;" (click)="selectCustomer(customer)">
        <h3>{{i+1}} - Nombre: {{customer.name}} Email: {{customer.email}} </h3>
    </li>
</ul>